/* #2ED975   #72D975*/

body{
    background-image: url(image/background-gb.png); /*defines image as a background*/
    background-repeat: no-repeat; /* to fit the background*/
    box-sizing: border-box;
  }
  /* grid css */
  .grid-container{
        display: grid;
        /* grid areas*/
        grid-template-areas: 
        'tn tn tn tn '
        'md md md md'
        'up up up2 up2 '
        'mp3 mp3 mp3 mp3'
    ;
  }
  
  .middle{    /*this is just an empty div to create a space between the boxes and the navbar. tried the usual way but did not work for some reason*/
    grid-area: md; /* defining area*/
    padding-top: 80px; /* to create padding between the boxes and navbar*/
  }
  /* nav bar*/
    .top-nav{
        grid-area: tn; /* defining area*/
        overflow: hidden;
        background-color: transparent;
        margin: 2px;
  }
   /*logo css to fit in the nav bar*/
    .top-nav img {
        width: 55px; /*  to fit the logo image in the courner*/
        padding-left: 16px;
        margin-top: 4px;
        position: absolute ;
  }
    .top-nav a {
        display: inline-block;
        color: #B8B7B4;
        text-align: center;
    /* comes up as error but actually works */
        float: right;
        padding: 14px 50px 10px;
        text-decoration: none;
        font-size: 17px;
        margin-left: 0px;

  }
    .top-nav a:hover {
        color:#2ED975;
    
  } /* grids */
    .up-page {
        grid-area: up; /* defining area */
        padding-left: 150px; /* this is to center the two boxes */
       
    }
    .up-page2{
        grid-area: up2; /* defining area */
        
    }

    .map3{
        grid-area: mp3; /* defining areas*/
        padding: 30px;
    }
    #map{
        height: 100vh;
        width: 95vw;
        filter: invert(82%); /* dark mode */
      }
/* buttons css*/
    .up-page button, .up-page2 button{
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        margin-top: 40px;
        margin: 60px;
        opacity: 95%;
        transition: 0.6s; /* the transition time between changing colours*/
        height: 120px;
        width: 50%;
    
}
/* sets up-page section background colour*/
    .up-page, .up-page2{
        background-color:#143D16;
        opacity: 80%;
}
/* dropdown content css*/
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 48%;
  }
  
  /* Links inside the dropdown */ /* to be done by Ibrahim (Ibrahim's task) */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
  }
  
  /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color:  #FFCE04;
        color: black;
    
}
  
  /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
  }
  /* change the size of headings in both grids*/
    .up-page h1, .up-page2 h1{
        font-size: 16px;
}
/* change links text in both grids*/
    .up-page a, .up-page2 a{
        color: white;
        text-decoration: none;
}


