/* #2ED975   #72D975*/
/* grid css */
body{
  background-image: url(background-gb.png);
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.grid-container{
  display: grid;
  /* grid areas*/
  grid-template-areas: 
  'tn tn tn tn '
  'sp sm sm sm'
  'pf pf pf pf ';
}
/*grid areas*/
/* nav bar*/
  .top-nav{
    grid-area: tn;

    overflow: hidden;
    background-color: transparent;
    margin: 2px;
}
 /*logo css to fit in the nav bar*/
 .top-nav img {
    width: 55px;
    padding-left: 16px;
    margin-top: 4px;
    position: absolute ;
}
  .top-nav a {

      display: inline-block;
      color: #B8B7B4;
      text-align: center;
  /* comes up as error but actually works */
      float: right;
      padding: 14px 50px 10px;
      text-decoration: none;
      font-size: 17px;
      margin-left: 0px;
 


}
  .top-nav a:hover {
      color:#2ED975;
  
}
/* left side of the page*/
  .side-page{
      grid-area: sp;
      margin: 5px;
      padding-top: 80px;
  
}
/*right side of the page */
  .side-map{
      grid-area: sm;
      margin: 5px;
      padding-top: 80px;
 
}
#map{
    height: 150vh;
    width: 55vw;
    filter:   invert(82%);
    opacity: 95%;
}
/* footer*/
  .page-footer{
      grid-area: ft;
      padding: 10px;
}

/* body css*/

/*sets all heading and paragraphs to same colour */
  body p,h2, h3 {
      color: #eee;
  
}
  

/* nav bar heading to figure out later
.top-nav h2{
  width: 160px;
  height: 120px;
  padding-left: 160px;
  margin-top: 2px;
  position: absolute ;
} *?


/* nav bar text*/

      
      /* paragraphs*/
  p {
    text-align: center;
    margin-top: 5px;
    padding-top: 30px;

      }
      /* css for all buttons on home page*/
  .side-page button {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.6s;
    height: 80px;
      }
  .side-page button:hover{
    background-color: #FEFF00;
    opacity: 1;
    color: black;
      }
    /* link text css*/
  .side-page a {
    color: white;
    text-decoration: none;
  }
  

      /* scenic route list*/
  ul{
    list-style-type: none;
     width: 500px
        
      }
  ul h3{
    font-size: 22px;
  }
  ul p{
    font-size: 14px;
  }
      
    
  li img {
        float: left;
        margin: 0 6px 0 0;
        width: 145px;
        height: 120px;
      }
  li p {
        text-align: left;
        
      }
     
  li {
        padding: 4px;
        overflow: auto;
      }
       
  li:hover {
        background: #FFCE04;
        cursor: pointer;
      }

   h2{
        font-size: 16px;
        padding: 10px;
     }
     /* google maps (to be removed)*/

   
   

    
  
